<!-- start of wpo-site-footer-section -->
<footer class="wpo-site-footer">
    <div class="wpo-upper-footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget about-widget">
                        <div class="logo widget-title">
                            <img src="{{STATIC_URL}}assets/images/logo2.png" height="50" alt="blog">
                        </div>
                        <p>Бодит байдалд нийцсэн мэдээлэл авах, түгээх эрх чөлөө нь хүний үндсэн эрх болохыг дээдэлж, 
                            сэтгүүлчийн эрх үүргээс олон нийтийн өмнө хүлээх хариуцлагыг эрхэмд үзэж Newsmall.mn сайтын 
                            редакцийн хамт олон дараах ёс зүйн зарчмыг мэргэжлийн хэм хэмжээ болгон тунхаглаж байна.</p>

                    </div>
                </div>
                <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget link-widget">
                        <div class="widget-title">
                            <h3>Ангилал</h3>
                        </div>
                        <ul>
                            {% if angilaluud %}
                            {% for angilal in angilaluud %}
                            <li><a href="{{angilal.get_absolute_url}}">{{angilal.name}}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="widget tag-widget">
                        <div class="widget-title">
                            <h3>Browse by Tag </h3>
                        </div>
                        <ul>
                            <li><a href="travels.html">Travel</a></li>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="lifestyle.html">Lifestyle</a></li>
                            <li><a href="blog.html">Marketing</a></li>
                            <li><a href="blog.html">Medical</a></li>
                            <li><a href="blog.html">Sports</a></li>
                            <li><a href="blog.html">Career</a></li>
                            <li><a href="foods.html">Foods</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="widget social-widget">
                        <div class="widget-title">
                            <h3>Social Media</h3>
                        </div>
                        <ul>
                            <li><a href="https://www.facebook.com/Newsmallmn-324180988086657/"><i><img src="{{STATIC_URL}}assets/images//ft-icon/1.png" alt=""></i> Facebook</a>
                            </li>
                            <li><a href="https://twitter.com/NewsMallmn"><i><img src="{{STATIC_URL}}assets/images//ft-icon/2.png" alt=""></i> Twitter</a>
                            </li>
                            <li><a href="#"><i><img src="{{STATIC_URL}}assets/images//ft-icon/3.png" alt=""></i> Instagram</a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCqXowj6Pbtvu_MFDT9QP-PQ"><i><img src="{{STATIC_URL}}assets/images//ft-icon/4.png" alt=""></i> Youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div>
    <div class="wpo-lower-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <p class="copyright"> &copy; 2018 - 2023 Newsmall   •   Бүх эрх хуулиар хамгаалагдсан.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of wpo-site-footer-section -->