<header id="header" class="wpo-site-header">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col col-lg-9 col-md-9 col-sm-12 col-12">
                  <div class="contact-intro">
                      <ul>
                          <li class="update"><span>Товчхон</span></li>
                          {% for medee in sh_medee %}
                          <li>{{medee.medee}}</li>
                          {% endfor %}
                      </ul>
                  </div>
              </div>
              <div class="col  col-lg-3 col-md-3 col-sm-12 col-12">
                  <div class="contact-info">
                      <ul>
                          <li><a href="https://www.facebook.com/Newsmallmn-324180988086657/"><i class="ti-facebook"></i></a></li>
                          <li><a href="https://twitter.com/NewsMallmn"><i class="ti-twitter-alt"></i></a></li>
                          <li><a href="#"><i class="ti-instagram"></i></a></li>
                          <li><a href="https://www.youtube.com/channel/UCqXowj6Pbtvu_MFDT9QP-PQ"><i class="ti-google"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- end topbar -->
  <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                  <div class="mobail-menu">
                      <button type="button" class="navbar-toggler open-btn">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar first-angle"></span>
                          <span class="icon-bar middle-angle"></span>
                          <span class="icon-bar last-angle"></span>
                      </button>
                  </div>
              </div>
              <div class="col-lg-2 col-md-6 col-6">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="{% url 'home' %}"><img src="{{STATIC_URL}}assets/images/newlogo.png" alt="" height="65" width="210" ></a> <!--style="border-radius: 10px;"-->
                  </div>
              </div>
              <div class="col-lg-10 col-md-3 col-3">
                  <div id="navbar" class="collapse navbar-collapse navigation-holder">
                      <button class="menu-close"><i class="ti-close"></i></button>
                      <ul class="nav navbar-nav mb-2 mb-lg-0">
                          {% if angilaluud %}
                          {% for angilal in angilaluud %}
                          <li><a href="{{angilal.get_absolute_url}}">{{angilal.name}}</a></li>
                          {% endfor %}
                          {% endif %}
                          <li class="menu-item-has-children">
                            <a href="#">Бусад</a>
                            <ul class="sub-menu">
                                {% if angilal_others %}
                                {% for angilal in angilal_others %}
                                <li><a href="blog.html">{{angilal.name}}</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </li>
                      </ul>
                  </div><!-- end of nav-collapse -->
              </div>
              
          </div>
      </div><!-- end of container -->
  </nav>
</header>

<!--<div class="col-lg-1 col-md-2 col-2">
                  <div class="header-right">
                      <div class="header-search-form-wrapper">
                          <div class="cart-search-contact">
                              <button class="search-toggle-btn"><i
                                      class="fi flaticon-magnifiying-glass"></i></button>
                              <div class="header-search-form">
                                  <form>
                                      <div>
                                          <input type="text" class="form-control"
                                              placeholder="Search here...">
                                          <button type="submit"><i
                                                  class="fi flaticon-magnifiying-glass"></i></button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                      <div class="header-right-menu-wrapper">
                          <div class="header-right-menu">
                              <div class="right-menu-toggle-btn">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                              <div class="header-right-menu-wrap">
                                  <button class="right-menu-close"><i class="ti-close"></i></button>
                                  <div class="logo"><img src="{{STATIC_URL}}assets/images/logo_white.png" height="50" alt=""></div>
                                  <div class="header-right-sec">
                                      <div class="widget wpo-contact-widget">
                                          <div class="widget-title">
                                              <h3>Холбоо барих</h3>
                                          </div>
                                          <div class="contact-ft">
                                              <ul>
                                                  <li><i class="fi flaticon-location"></i>Монгол улс, Улаанбаатар хот
                                                   <br> Newsmall.mn</li>
                                                  <li><i class="fi flaticon-telephone"></i>+ 976 80907991 <br>
                                                      + 976 88038990</li>
                                                  <li><i class="fi flaticon-email"></i> newsmall@gmail.com</li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>-->