{% load fb_versions cache %}
<div class="blog-sidebar">
  <div class="widget recent-post-widget">
      <h3>Хандалттай</h3>
      <div class="posts">
        {% for medee in ih_unshsan %}
          <div class="post">
              <div class="img-holder">
                  {% if medee.zurag %}
                    <img src="{% version medee.zurag 'admin_thumbnail' %}" alt="{{medee.title}}">
                  {% else %}
                  <img src="{{STATIC_URL}}assets/images/recent-posts/img-1.jpg" alt>
                  {% endif %}
              </div>
              <div class="details">
                  <span class="date">{{medee.post_date}}</span>
                  <h4><a href="{{medee.get_absolute_url}}">{{medee.title}}</a></h4>
              </div>
          </div>
        {% endfor %}
      </div>
  </div>
  <div class="widget category-widget">
    <h3>Ангилал</h3>
    <ul>
      {% if angilaluud %}
      {% for angilal in angilaluud %}
      <li><a href="{{angilal.get_absolute_url}}">{{angilal.name}}</a></li>
      {% endfor %}
      {% endif %}
    </ul>
</div>
  <div class="wpo-add-widget">
      <a href="#"><img src="{{STATIC_URL}}assets/images/add.jpg" alt=""></a>
  </div>
</div>