<div class="cactus-share-and-like ">
  <!-- Share -->
  <a class="share-tool-block" data-toggle="tooltip" data-placement="top" title="" data-original-title="social share">
  <i class="fa fa-share-alt"></i>
  </a>
  <ul class="share-tool-block list-inline social-listing change-color" style="padding-top: 10px;">
    <li class="facebook">
      <a class="trasition-all" title="Share on Facebook" href="#" target="_blank" rel="nofollow" onclick="window.open(&#39;http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}} &#39;,&#39;facebook-share-dialog&#39;,&#39;width=626,height=436&#39;);return false;"><i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="twitter">
      <a class="trasition-all" href="#" title="Share on Twitter" rel="nofollow" target="_blank" onclick="window.open(&#39;http://twitter.com/share?text={{medee.title}}&amp;url={{request.build_absolute_uri}}&#39;,&#39;twitter-share-dialog&#39;,&#39;width=626,height=436&#39;);return false;"><i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="google-plus">
      <a class="trasition-all" href="#" title="Share on Google Plus" rel="nofollow" target="_blank" onclick="window.open(&#39;https://plus.google.com/share?url={{request.build_absolute_uri}}&#39;,&#39;googleplus-share-dialog&#39;,&#39;width=626,height=436&#39;);return false;"><i class="fa fa-google-plus"></i>
      </a>
    </li>
  </ul>
  <!-- Share -->
  <!-- <div class="share-tool-block view-count">
    <i class="fa fa-eye"></i>&nbsp;
    <span>{{medee.read_count}}</span>
  </div> -->
  <a class="share-tool-block report-button" title="" rel="tooltip" data-original-title="REPORT THIS" data-placement="top" href="" data-toggle="modal">
  <i class="fa fa-flag"></i>
  </a>
  <!-- <a href="javascript:;" class="share-tool-block open-carousel-listing pull-right">Төстэй &nbsp; <i class="fa fa-angle-down"></i></a> -->
  <div class="clearfix"></div>
</div>
