{% load staticfiles static fb_versions cache %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wpOceans">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}assets/images/favicon.png">
    <title>{{TITLE|default:"NewsMall.mn"}}</title>
    <meta content="{{TITLE}} | NewsMall.mn" name="description">
    <meta property="og:title"         content="{{TITLE}} | NewsMall.mn" >
    <meta property="og:type"          content="{{OG_TYPE|default:'website'}}">
    <meta property="og:url"           content="{{request.build_absolute_uri}}" >
    {% if OG_IMAGE %}
    <meta property="og:image"         content="http://{{request.get_host}}{% version OG_IMAGE 'extra_large' %}" >
    {% else %}
    <meta property="og:image"         content="{{STATIC_URL}}img/logo.jpg" >
    {% endif %}
    <meta property="og:description"   content="{{META_DESCRIPTION|truncatewords:20}}" >
    <meta property="og:site_name" content="{{request.get_host}}" >
    <meta property="fb:app_id" content="197119067680978">
    <meta name="keywords" content="Newsmall, News mall, Мэдээ, Бичлэг, мэдээлэл, Мэдээний сайт, Ньюсмалл {{meta_keywords}} " >

    <link href="{{STATIC_URL}}assets/css/themify-icons.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/flaticon.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/animate.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/owl.carousel.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/owl.theme.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/slick.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/slick-theme.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/swiper.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/owl.transitions.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/odometer-theme-default.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/component.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/sass/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/responsive.css" rel="stylesheet">
</head>

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="angular-shape">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        {% include "common/menu.html" %}
        <!-- end of header -->
        
        <!-- start of wpo-blog-hero -->
        {% block special_news %}
        {% endblock special_news %}
        {% block news_container %}
        <!-- end of wpo-blog-hero -->

        
        
        {% endblock news_container %}
        
        {% include "common/footer.html" %}
    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
    <script src="{{STATIC_URL}}assets/js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}assets/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins for this template -->
    <script src="{{STATIC_URL}}assets/js/modernizr.custom.js"></script>
    <script src="{{STATIC_URL}}assets/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script src="{{STATIC_URL}}assets/js/script.js"></script>
</body>

</html>