{% load staticfiles static fb_versions cache %}
<!DOCTYPE html>
<html lang="en-US" class="" data-ember-extension="1">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{TITLE|default:"NewsMall.mn"}}</title>
    <meta content="{{TITLE}} | NewsMall.mn" name="description">
    <meta property="og:title"         content="{{TITLE}} | NewsMall.mn" >
    <meta property="og:type"          content="{{OG_TYPE|default:"website"}}">
    <meta property="og:url"           content="{{request.build_absolute_uri}}" >
    {% if OG_IMAGE %}
    <meta property="og:image"         content="http://{{request.get_host}}{% version OG_IMAGE 'extra_large' %}" >
    {% else %}
    <meta property="og:image"         content="{{STATIC_URL}}img/logo.jpg" >
    {% endif %}
    <meta property="og:description"   content="{{META_DESCRIPTION|truncatewords:20}}" >
    <meta property="og:site_name" content="{{request.get_host}}" >

    <meta property="fb:app_id" content="197119067680978">

    <meta name="keywords" content="Newsmall, News mall, Мэдээ, Бичлэг, мэдээлэл, Мэдээний сайт, Ньюсмалл {{meta_keywords}} " >
    <script id="facebook-jssdk" src="{{STATIC_URL}}js/sdk.js"></script>
    <!-- <link rel="profile" href=""> -->
    <!-- Retina Logo-->
    <style type="text/css">
      @media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
      /* Retina Logo */
      .primary-logo{background:url({{STATIC_URL}}image/blog-logo-dark-2X.png) no-repeat center; display:inline-block !important; background-size:contain;}
      .primary-logo img{ opacity:0; visibility:hidden}
      .primary-logo *{display:inline-block}
      }
    </style>
    <style type="text/css">
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    </style>
    <link rel="stylesheet" id="ct_shortcode_style-css" href="{{STATIC_URL}}css/shortcode.css" type="text/css" media="all">
    <!-- <link rel="stylesheet" id="wti_like_post_script-css" href="{{STATIC_URL}}css/wti_like_post.css" type="text/css" media="all"> -->
    <link rel="stylesheet" id="apsc-frontend-css-css" href="{{STATIC_URL}}css/frontend.css" type="text/css" media="all">
    <!-- <link rel="stylesheet" id="video-ads-management-css" href="{{STATIC_URL}}css/video-ads-management.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="truemag-rating-css" href="{{STATIC_URL}}css/style.css" type="text/css" media="all"> -->
    <link rel="stylesheet" id="animate-css" href="{{STATIC_URL}}css/animate.min.css" type="text/css" media="all">
    <!-- <link rel="stylesheet" id="contact-form-7-css" href="{{STATIC_URL}}css/styles.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="woocommerce-layout-css" href="{{STATIC_URL}}css/woocommerce-layout.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="woocommerce-smallscreen-css" href="{{STATIC_URL}}css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)"> -->
    <!-- <link rel="stylesheet" id="woocommerce-general-css" href="{{STATIC_URL}}css/woocommerce.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="mashmenu-css-css" href="{{STATIC_URL}}css/mashmenu.css" type="text/css" media="all"> -->
    <link rel="stylesheet" id="bootstrap-css" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="{{STATIC_URL}}css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="swiper-css" href="{{STATIC_URL}}css/idangerous.swiper.css" type="text/css" media="all">
    <link rel="stylesheet" id="cactus-style-css" href="{{STATIC_URL}}css/style(1).css" type="text/css" media="all">
    <!-- <link rel="stylesheet" id="newstube-woocommrce-css" href="{{STATIC_URL}}css/newstube-woocommerce.css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="google-fonts-css" href="{{STATIC_URL}}css/css" type="text/css" media="all"> -->
    <!-- <link rel="stylesheet" id="cactus-buy-button-css" href="{{STATIC_URL}}css/cactus-buy-button.css" type="text/css" media="all"> -->
    <link rel="stylesheet" id="malihu-scroll-css" href="{{STATIC_URL}}css/jquery.mCustomScrollbar.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="js_composer_front-css" href="{{STATIC_URL}}css/js_composer.min.css" type="text/css" media="all">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-migrate.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/woocommerce-add-to-cart.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/smoothscroll.js"></script>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="http://newstube.cactusthemes.com/wp-content/plugins/js_composer/assets/{{STATIC_URL}}css/vc_lte_ie9.min.css" media="screen">
    <![endif]--><!--[if IE  8]>
    <link rel="stylesheet" type="text/css" href="http://newstube.cactusthemes.com/wp-content/plugins/js_composer/assets/{{STATIC_URL}}css/vc-ie8.min.css" media="screen">
    <![endif]-->        <!--
      Lockers: Facebook SDK
      OnePress, bizpanda.com
      -->
    <script>
      window.fbAsyncInitPredefined = window.fbAsyncInit;
      window.fbAsyncInit = function() {
          window.FB.init({
              appId: 197119067680978,
              status: true,
              cookie: true,
              xfbml: true,
              version: 'v2.3'
          });
          window.FB.init = function(){};
          window.fbAsyncInitPredefined && window.fbAsyncInitPredefined();
      };
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js?";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- / -->
    <!--
      Lockers: CSS Selectors (Bulk Locking)
      OnePress, bizpanda.com
      -->
    <script>
      if ( !window.bizpanda ) window.bizpanda = {};
      window.bizpanda.bulkCssSelectors = [];
                  window.bizpanda.bulkCssSelectors.push({
          lockId: 'css-selector-5567',
          selector: 'article#post-4201'
      });

    </script>
    <style>
    </style>
    <link rel="icon" href="http://newstube.cactusthemes.com/wp-content/uploads/2015/01/cropped-512-newtube-mobile-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="http://newstube.cactusthemes.com/wp-content/uploads/2015/01/cropped-512-newtube-mobile-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="http://newstube.cactusthemes.com/wp-content/uploads/2015/01/cropped-512-newtube-mobile-icon-180x180.png">
    <meta name="msapplication-TileImage" content="http://newstube.cactusthemes.com/wp-content/uploads/2015/01/cropped-512-newtube-mobile-icon-270x270.png">
    <!-- custom css -->
    <style type="text/css">.widget_black_studio_tinymce .body-widget-inner .textwidget .cactus-ads {
      text-align: center;
      }
      .widget_black_studio_tinymce .body-widget-inner .textwidget .cactus-ads img {
      max-width: 100%;
      }
      .page-template-front-page .cactus-nav.style-2 #main-menu .navbar-default .navbar-nav.cactus-logo-nav > li > a {line-height: 0;}
      .page-template-front-page .navbar-header .navbar-brand .primary-logo:before {content: url({{STATIC_URL}}image/newsmall.png); background-size: 219px 58px;}
      .page-template-front-page .navbar-header .navbar-brand .primary-logo > img {display: none;}
      @media
      (-webkit-min-device-pixel-ratio: 2),
      (   -moz-device-pixel-ratio: 2),
      (     -o-min-device-pixel-ratio: 2),
      (        min-device-pixel-ratio: 2),
      (        -ms-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
      .page-template-front-page .navbar-header .navbar-brand .primary-logo img {content: url({{STATIC_URL}}images/blog-logo-dark-2X.png)}
      }
      .cactus-scb-sport .cactus-note-cat {background-color: #ef4d4e;}
      .cactus-scb-lifestyle .cactus-note-cat {background-color: #a9c056 !important;}
      .cactus-scb-business .cactus-note-cat {background-color: #27aac5 !important;}
      .cactus-scb-watch .cactus-note-cat {background-color: #ff9c31 !important;}
      .cactus-scb-mobile .cactus-note-cat {background-color: #be9754 !important;}
      .cactus-scb-sport .cactus-note-cat a,
      .cactus-scb-lifestyle .cactus-note-cat a,
      .cactus-scb-business .cactus-note-cat a,
      .cactus-scb-watch .cactus-note-cat a,
      .cactus-scb-mobile .cactus-note-cat a
      {
      color: #fff;
      }
      .page-template-front-page #main-menu .navbar-nav.user_submit,
      .page-template-demo-v2-sport #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v1 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v2 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v3 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v4 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v5 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v6 #main-menu .navbar-nav.user_submit,
      .page-template-demo-blog-v7 #main-menu .navbar-nav.user_submit
      {display: none !important;}
      iframe[name="google_conversion_frame"] { display:block; height:0; max-height:0;}
      .sub-menu,
      #top-nav .navbar-nav>li>a,
      #top-nav .navbar-nav>li ul li a,
      #main-menu .navbar-default .navbar-nav>li>a,
      #main-menu .navbar-nav>li ul li a,
      .cactus-headline .title,
      #main-menu .navbar-default .navbar-nav.user_submit>li>a>span,
      .cactus-headline .cactus-note-cat,
      .cactus-headline .swiper-slide a.title-slide { font-size:12px;}
      .cactus-headline .button-prev,
      .cactus-headline .button-next {font-size:14px;}
      h1, .h1 { font-size:37px;}
      h2, .h2,
      .cactus-listing-config.style-1 .cactus-post-item.featured-post .cactus-post-title { font-size:30px;}
      h3, .h3 { font-size:24px;}
      h4, .h4 { font-size:19px;}
      h5, .h5 { font-size:15px;}
      h6, .h6,
      .easy-tab .tabs li a,
      .cactus-scb[data-style="1"] .cactus-listing-config.style-1 .cactus-post-item:not(:first-child) .cactus-post-title,
      .cactus-scb[data-style="3"] .cactus-listing-config.style-1 .cactus-post-item:not(:first-child) .primary-post-content .picture-content .content-abs-post .cactus-post-title,
      .cactus-scb[data-style="4"] .cactus-listing-config.style-1 .fix-right-style-4 .cactus-post-item .cactus-post-title,
      .cactus-scb[data-style="5"] .cactus-listing-config.style-1 .primary-post-content .picture-content .content-abs-post .cactus-post-title,
      .cactus-scb[data-style="6"] .cactus-listing-config.style-1 .cactus-post-item:not(:first-child) .cactus-post-title,
      .cactus-widget-posts.style-2 .widget-posts-title,
      .cactus-tab .cactus-tab-heading { font-size:13px}
    </style>
    <!-- end custom css -->
    <style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1436497334066{margin-bottom: 61px !important;}.vc_custom_1436427999720{margin-bottom: 74px !important;}.vc_custom_1436519530047{margin-bottom: 40px !important;}.vc_custom_1436428529509{margin-bottom: 59px !important;}.vc_custom_1436498715858{margin-bottom: -11px !important;}</style>
    <noscript>&lt;style type="text/css"&gt; .wpb_animate_when_almost_visible { opacity: 1; }&lt;/style&gt;</noscript>

    <style type="text/css" scoped="">.cactus-scb[data-bg-color="#ff9c31"] .cactus-scb-title,.cactus-scb[data-bg-color="#ff9c31"] .cactus-scb-title:before{background-color:#ff9c31}.cactus-scb[data-title-color="#ffffff"] .cactus-scb-title {color:#ffffff}</style>
    <style type="text/css" scoped="">.cactus-scb[data-bg-color="#a9c056"] .cactus-scb-title,.cactus-scb[data-bg-color="#a9c056"] .cactus-scb-title:before{background-color:#a9c056}.cactus-scb[data-title-color="#ffffff"] .cactus-scb-title {color:#ffffff}</style>
    <style type="text/css" scoped="">.cactus-scb[data-bg-color="#27aac5"] .cactus-scb-title,.cactus-scb[data-bg-color="#27aac5"] .cactus-scb-title:before{background-color:#27aac5}.cactus-scb[data-title-color="#ffffff"] .cactus-scb-title {color:#ffffff}</style>
  </head>
  <body class="home page page-id-5236 page-template page-template-page-templates page-template-front-page page-template-page-templatesfront-page-php  wpb-js-composer js-comp-ver-4.9 vc_responsive" cz-shortcut-listen="true" style="margin-bottom: 0px;">
    <div id="body-wrap" class="">
      <div id="wrap">
        <header class="">
          <!--Navigation style-->
          <div class="cactus-nav style-2">
            <!--Top NAV-->
            <div id="top-nav">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                  <!--Headlines-->
                  <aside id="headline_id-3" class=" widget col-md-12 nav navbar-nav navbar-left cactus-headline rps-hidden module widget-col headline">
                    <div class="widget-inner">
                      <ul class="nav navbar-nav navbar-left rps-hidden">
                        <li class="title"><div class="cactus-note-cat" style="background-color: #FFD540; color: #111; text">НЭГ ӨГҮҮЛБЭРЭЭР</div></li>
                        <li class="navigation">
                          <div class="button-prev"><i class="fa fa-angle-left"></i></div>
                          <div class="button-next"><i class="fa fa-angle-right"></i></div>
                        </li>
                        <li class="cactus-swiper-container" data-settings="[mode:cactus-fix-composer]">
                          <div class="swiper-wrapper" style="width: 581.344px; height: 245px; transform: translate3d(0px, -105px, 0px); transition-duration: 0.3s;">
                          {% for medee in sh_medee %}
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 381.344px; height: 35px;">
                              <!-- <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v2/" title="View all posts in Business">Нийгэм</a>
                              </div> -->
                              <a class="title-slide" href="" title="HANG IN THERE STAND BY FOR GOOD TIMES">{{medee.medee}}</a>
                            </div>
                          {% endfor %}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </aside>
                  <!--Headlines-->
                <!--Share list-->
                  <ul class="nav navbar-nav navbar-right social-listing list-inline social-accounts">
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/Newsmallmn-324180988086657/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCqXowj6Pbtvu_MFDT9QP-PQ" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/NewsMallmn" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                  <!--Share list-->
                </div>
              </nav>
            </div>
            <!--Top NAV-->
            <!--Branding-->
            <div id="main-nav" class="nav-branding">
              <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                  <!--Logo-->
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                      <div class="primary-logo">
                        <img src="{{STATIC_URL}}image/blog-logo-dark-1X.png" alt="newsmall.mn" title="newsmall.mn">
                      </div>
                    </a>
                  </div>
                  <!--Logo-->
                  <ul class="nav navbar-nav navbar-right rps-hidden cactus-header-ads">
                    <li>
                      <div class="ad ads_top_nav cactus-mutil-ads">
                        <div class="cactus-ads">
                          {% for banner in banner_deed %}
                          <a href="{{banner.open_url}}" target="_blank">
                            {% if banner.zurag %}
                              <img class="cactus-img-ads" src="{{MEDIA_URL}}{{banner.zurag}}" height="90" alt="{{banner.title}}" data-src-1024="{{MEDIA_URL}}{{banner.zurag}}" data-src-768="{{MEDIA_URL}}{{banner.zurag}}" data-src-lt-768="{{MEDIA_URL}}{{banner.zurag}}">
                            {% else %}

                              <img class="cactus-img-ads" src="{{STATIC_URL}}image/02-newstube-banner-728x90.png" height="90" alt="{{banner.title}}" data-src-1024="{{STATIC_URL}}image/02-newstube-banner-728x90.png" data-src-768="{{STATIC_URL}}image/03-newstube-banner-468x80.jpg" data-src-lt-768="{{STATIC_URL}}image/04-newstube-banner-320x50.jpg">
                            {% endif %}

	                        </a>
                          {% endfor %}
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>

            {% include "common/menu.html" %}

          </div>
          <!--Navigation style-->
        </header>
        <div id="cactus-body-container">
          <!--Add class cactus-body-container for single page-->
          <div class=" cactus-listing-wrap cactus-sidebar-control sb-right">
            <!--.cactus-listing-config-->
            <div class="cactus-listing-config style-1   cate-listing">
              <!--addClass: style-1 + (style-2 -> style-n)-->
              <div class="container">
                <div class="row">
                {% block main_container %}
                  {% block special_news %}
                  {% endblock special_news %}

                  <div class="main-content-col col-md-12 cactus-listing-content">
                    <div class="build-shortcode">
                    </div>
                    <div class="content-top-sidebar-wrap">
                      <div id="black-studio-tinymce-9" class=" body-widget widget_black_studio_tinymce">
                        <div class="body-widget-inner">
                          <div class="textwidget">
                            {% block news_container %}
                            {% endblock news_container %}





                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1436428529509">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                  <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                      <div class="wpb_wrapper">
                                        <div class="cactus-ads">
                                          <!-- <a href="https://www.facebook.com/Beauty-plus-2117271821624181/" target="_blank">
                                            <img class="cactus-img-ads" src="{{STATIC_URL}}image/spa1.png" alt="spa" />
                                          </a> -->
                                          {% for banner in banner_dundtom %}
                                          <a href="{{banner.open_url}}" target="_blank">
                                            {% if banner.zurag %}
                                              <img class="cactus-img-ads" src="{{MEDIA_URL}}{{banner.zurag}}" height="90" alt="{{banner.title}}" data-src-1024="{{MEDIA_URL}}{{banner.zurag}}" data-src-768="{{MEDIA_URL}}{{banner.zurag}}" data-src-lt-768="{{MEDIA_URL}}{{banner.zurag}}">
                                            {% else %}

                                              <img class="cactus-img-ads" src="{{STATIC_URL}}image/02-newstube-banner-728x90.png" height="90" alt="{{banner.title}}" data-src-1024="{{STATIC_URL}}image/02-newstube-banner-728x90.png" data-src-768="{{STATIC_URL}}image/03-newstube-banner-468x80.jpg" data-src-lt-768="{{STATIC_URL}}image/04-newstube-banner-320x50.jpg">
                                            {% endif %}

                	                        </a>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <!--<style type="text/css" scoped="">#divider-7056 {border-color:#e7e7e7;}</style>
                            <div class="vc_row wpb_row vc_row-fluid vc_custom_1436498715858">
                              <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                  <div class="wpb_wrapper">
                                    <div class="cactus-divider style-3" id="divider-7056">
                                      <h6><i class="fa fa-globe"></i> LATEST NEWS</h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>-->



                          </div>
                        </div>
                      </div>
                    </div>
                    <!--
                      Post Lasterst news baisan
                    -->
                  </div>
                  {% endblock main_container %}
                  <!--Sidebar-->
                  <div class="col-md-4 cactus-sidebar main-sidebar-col" style="height: 4672px;">
                    <!--addClass: left / right -> config sidebar position-->
                    <div class="sidebar-content-fixed-scroll fixed-now">

                      {% block last_news %}
                        <aside id="ct-recent-comments-2" class=" widget col-md-12 module widget-col ct_recent_comments">
                          <div class="widget-inner">
                            <h2 class="widget-title h6">Шинэ мэдээ</h2>
                            <div class="cactus-widget-posts widget-comment">
                            {% for medee in last_medee %}
                              <div class="cactus-widget-posts-item">
                                <div class="widget-picture">
                                  <div class="widget-picture-content">
                                    <a class="cm-avatar" href="{{medee.get_absolute_url}}">
                                    {% if medee.zurag %}
                                      <img src="{% version medee.zurag 'small' %}" alt="newsmall" width="188" height="144">
                                    {% else %}
                                      <img alt="news-image" src="{{STATIC_URL}}image/default.jpg" width="188" height="144">
                                    {% endif %}
                                    </a>
                                  </div>
                                </div>
                                <div class="cactus-widget-posts-content">
                                  <h3 class="h6 widget-posts-title">
                                    <a href="{{medee.get_absolute_url}}">{{medee.title|truncatechars:55}}</a>
                                  </h3>
                                  <div class="posted-on"><span> {{medee.post_date}}</span></div>
                                </div>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                        </aside>
                      {% endblock last_news %}

                      <aside id="text-6" class=" widget col-md-12 module widget-col widget_text">
                        <div class="widget-inner">
                          <div class="textwidget">
                            <!-- <a href="#" target="_blank">
                              <img src="{{STATIC_URL}}image/spa1.png" alt="spa" width="300" height="auto" />
                            </a> -->
                            {% for banner in banner_dundjij %}
                            <a href="{{banner.open_url}}" target="_blank">
                              {% if banner.zurag %}
                                <img class="cactus-img-ads" src="{{MEDIA_URL}}{{banner.zurag}}" height="90" alt="{{banner.title}}" data-src-1024="{{MEDIA_URL}}{{banner.zurag}}" data-src-768="{{MEDIA_URL}}{{banner.zurag}}" data-src-lt-768="{{MEDIA_URL}}{{banner.zurag}}">
                              {% else %}

                                <img class="cactus-img-ads" src="{{STATIC_URL}}image/02-newstube-banner-728x90.png" height="90" alt="{{banner.title}}" data-src-1024="{{STATIC_URL}}image/02-newstube-banner-728x90.png" data-src-768="{{STATIC_URL}}image/03-newstube-banner-468x80.jpg" data-src-lt-768="{{STATIC_URL}}image/04-newstube-banner-320x50.jpg">
                              {% endif %}

                            </a>
                            {% endfor %}
                          </div>
                        </div>
                      </aside>
                      <aside id="apsc_widget-4" class=" widget col-md-12 module widget-col widget_apsc_widget">
                        <div class="widget-inner">
                          <h2 class="widget-title h6">Бидэнтэй нэгдээрэй</h2>
                          <div class="apsc-icons-wrapper clearfix apsc-theme-4">
                            <div class="apsc-each-profile">
                              <a class="apsc-facebook-icon clearfix" href="https://www.facebook.com/Newsmallmn-324180988086657/" target="_blank">
                                <div class="apsc-inner-block">
                                  <span class="social-icon"><i class="fa fa-facebook apsc-facebook"></i><span class="media-name">Facebook</span></span>
                                  <span class="apsc-count">24</span><span class="apsc-media-type">Like</span>
                                </div>
                              </a>
                            </div>
                            <div class="apsc-each-profile">
                              <a class="apsc-twitter-icon clearfix" href="https://twitter.com/NewsMallmn" target="_blank">
                                <div class="apsc-inner-block">
                                  <span class="social-icon"><i class="fa fa-twitter apsc-twitter"></i><span class="media-name">Twitter</span></span>
                                  <span class="apsc-count">67</span><span class="apsc-media-type">Followers</span>
                                </div>
                              </a>
                            </div>
                            <div class="apsc-each-profile">
                              <a class="apsc-google-plus-icon clearfix" href="https://plus.google.com/107540231363003266808" target="_blank">
                                <div class="apsc-inner-block">
                                  <span class="social-icon"><i class="apsc-googlePlus fa fa-google-plus"></i><span class="media-name">google+</span></span>
                                  <span class="apsc-count">56</span><span class="apsc-media-type">Followers</span>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </aside>
                    </div>
                  </div>
                  <!--Sidebar-->
                </div>
                <!--.row-->
              </div>
              <!--.container-->
              <!--.cactus-listing-config-->
            </div>
          </div>
          <!--#cactus-single-page-->
        </div>
        <!--#cactus-body-container-->
        <!--
        <div class="main-bottom-sidebar-wrap">
          <div id="black-studio-tinymce-10" class=" body-widget widget_black_studio_tinymce">
            <div class="body-widget-inner">
              <div class="textwidget">
                <div class="cactus-carousel" data-autoplay="0" data-visible="3">
                  <div class="cactus-swiper-container" style="cursor: -webkit-grab;">
                    <div class="swiper-wrapper" style="width: 1915px; height: 300px;">
                      <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 383px; height: 300px;">
                        <div class="carousel-item">
                          <a href="http://newstube.cactusthemes.com/london-has-fallen/" title="MOST VISITED COUNTRIES">
                            <img width="375" height="300" src="{{STATIC_URL}}image/visit-country-375x300.jpg" class="attachment-thumb_375x300 size-thumb_375x300" alt="visit-country">
                            <div class="thumb-gradient"></div>
                            <div class="thumb-overlay"></div>
                          </a>
                          <div class="primary-content">
                            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
                            </div>
                            <h3 class="h6"><a href="http://newstube.cactusthemes.com/london-has-fallen/" title="MOST VISITED COUNTRIES">MOST VISITED COUNTRIES</a></h3>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-visible" style="width: 383px; height: 300px;">
                        <div class="carousel-item">
                          <a href="http://newstube.cactusthemes.com/ted-2-trailer-2015/" title="THE AMAZING NORTHERN LIGHTS">
                            <img width="375" height="300" src="{{STATIC_URL}}image/northern-lights-375x300.jpg" class="attachment-thumb_375x300 size-thumb_375x300" alt="northern-lights">
                            <div class="thumb-gradient"></div>
                            <div class="thumb-overlay"></div>
                          </a>
                          <div class="primary-content">
                            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
                            </div>
                            <h3 class="h6"><a href="http://newstube.cactusthemes.com/ted-2-trailer-2015/" title="THE AMAZING NORTHERN LIGHTS">THE AMAZING NORTHERN LIGHTS</a></h3>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-visible" style="width: 383px; height: 300px;">
                        <div class="carousel-item">
                          <a href="http://newstube.cactusthemes.com/jurasic-world-2015/" title="MARC AND WENDY WOW THE JUDGES">
                            <img width="375" height="300" src="{{STATIC_URL}}image/001-wendy-375x300.jpg" class="attachment-thumb_375x300 size-thumb_375x300" alt="001-wendy">
                            <div class="thumb-gradient"></div>
                            <div class="thumb-overlay"></div>
                          </a>
                          <div class="primary-content">
                            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
                            </div>
                            <h3 class="h6"><a href="http://newstube.cactusthemes.com/jurasic-world-2015/" title="MARC AND WENDY WOW THE JUDGES">MARC AND WENDY WOW THE JUDGES</a></h3>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide" style="width: 383px; height: 300px;">
                        <div class="carousel-item">
                          <a href="http://newstube.cactusthemes.com/batman-vs-superman/" title="GREAT RAILWAY JOURNEY OF EUROPE">
                            <img width="375" height="300" src="{{STATIC_URL}}image/railway-train-375x300.jpg" class="attachment-thumb_375x300 size-thumb_375x300" alt="railway-train">
                            <div class="thumb-gradient"></div>
                            <div class="thumb-overlay"></div>
                          </a>
                          <div class="primary-content">
                            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
                            </div>
                            <h3 class="h6"><a href="http://newstube.cactusthemes.com/batman-vs-superman/" title="GREAT RAILWAY JOURNEY OF EUROPE">GREAT RAILWAY JOURNEY OF EUROPE</a></h3>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide" style="width: 383px; height: 300px;">
                        <div class="carousel-item">
                          <a href="http://newstube.cactusthemes.com/the-secret-life-of-pets/" title="NATURE AND WILDLIFE OF CUBA">
                            <img width="375" height="300" src="{{STATIC_URL}}image/wildlife-nature-375x300.jpg" class="attachment-thumb_375x300 size-thumb_375x300" alt="wildlife-nature">
                            <div class="thumb-gradient"></div>
                            <div class="thumb-overlay"></div>
                          </a>
                          <div class="primary-content">
                            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
                            </div>
                            <h3 class="h6"><a href="http://newstube.cactusthemes.com/the-secret-life-of-pets/" title="NATURE AND WILDLIFE OF CUBA">NATURE AND WILDLIFE OF CUBA</a></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="pre-carousel" href="javascript:;"><i class="fa fa-angle-left"></i></a>
                  <a class="next-carousel" href="javascript:;"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->

        <footer>
          <div class="footer-inner dark-div">
            <div class="footer-sidebar">
              <div class="container">
                <div class="row">
                <!--
                  <aside id="text-4" class=" widget col-md-3 module widget-col widget_text">
                    <div class="widget-inner">
                      <h2 class="widget-title h6">ЦАГГҮЙ.МН</h2>
                      <div class="textwidget">Newstube is a smart and powerful magazine and blog WordPress theme. This theme offers many features to build your own magazine or video website.
                        <br>
                        <br>
                        CactusThemes has more than 6 years of developing Wordpress themes. Our themes and plugins are trusted by over 9000 customers on Themeforest.
                      </div>
                    </div>
                  </aside>
                  <aside id="recent-posts-2" class=" widget col-md-3 module widget-col widget_recent_entries">
                    <div class="widget-inner">
                      <h2 class="widget-title h6">Recent Posts</h2>
                      <ul>
                        <li>
                          <a href="http://newstube.cactusthemes.com/london-has-fallen/">MOST VISITED COUNTRIES</a>
                        </li>
                        <li>
                          <a href="http://newstube.cactusthemes.com/5-places-that-make-a-great-holiday/">5 PLACES THAT MAKE A GREAT HOLIDAY</a>
                        </li>
                        <li>
                          <a href="http://newstube.cactusthemes.com/pebble-time-steel-is-on-track-to-ship-in-july/">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a>
                        </li>
                        <li>
                          <a href="http://newstube.cactusthemes.com/startup-companys-co-founder-talks-on-his-new-product/">STARTUP COMPANY’S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a>
                        </li>
                      </ul>
                    </div>
                  </aside>
                  <aside id="text-5" class=" widget col-md-3 module widget-col widget_text">
                    <div class="widget-inner">
                      <h2 class="widget-title h6">NEWS LETTER</h2>
                      <div class="textwidget">
                        If you want to receive our latest news send directly to your email, please leave your email address bellow. Subscription is free and you can cancel anytime.
                        <div role="form" class="wpcf7" id="wpcf7-f2600-o1" lang="en-US" dir="ltr">
                          <div class="screen-reader-response"></div>
                          <form action="http://newstube.cactusthemes.com/#wpcf7-f2600-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                            <div style="display: none;">
                              <input type="hidden" name="_wpcf7" value="2600">
                              <input type="hidden" name="_wpcf7_version" value="4.3.1">
                              <input type="hidden" name="_wpcf7_locale" value="en_US">
                              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2600-o1">
                              <input type="hidden" name="_wpnonce" value="0dfd51687e">
                            </div>
                            <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Email"></span> </p>
                            <p><input type="submit" value="SUBSCRIBE" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="image/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </aside>
                  <aside id="wptt_twittertweets-3" class=" widget col-md-3 module widget-col wptt_TwitterTweets">
                    <div class="widget-inner">
                      <h2 class="widget-title h6">Twitter</h2>
                      <ul class="fetched_tweets dark">
                        <li class="tweets_avatar">
                          <div class="tweet_wrap">
                            <div class="wdtf-user-card ltr">
                              <div class="clear"></div>
                            </div>
                            <div class="tweet_data">
                              Yay! We are <a href="https://twitter.com/search?q=%23featured_author" target="_blank" rel="nofollow">#featured_author</a> on <a href="https://twitter.com/search?q=%23themeforest" target="_blank" rel="nofollow">#themeforest</a>. Check out our awesome works at <a href="https://t.co/3kYSael1qi!" target="_blank" rel="nofollow">https://t.co/3kYSael1qi!</a>
                            </div>
                            <br>
                            <div class="clear"></div>
                            <div class="times">
                              <em>
                              <a href="https://www.twitter.com/" target="_blank" title="Follow  on Twitter [Opens new window]">
                              2 months ago                                    </a>
                              </em>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <div class="clear"></div>
                        </li>
                        <li class="tweets_avatar">
                          <div class="tweet_wrap">
                            <div class="wdtf-user-card ltr">
                              <div class="clear"></div>
                            </div>
                            <div class="tweet_data">
                              Check out 'NewsTube - Magazine Blog &amp; Video' on <a href="https://twitter.com/search?q=%23EnvatoMarket" target="_blank" rel="nofollow">#EnvatoMarket</a> <a href="https://twitter.com/search?q=%23themeforest" target="_blank" rel="nofollow">#themeforest</a> <a href="http://t.co/jQV1MrQQKY" target="_blank" rel="nofollow">http://t.co/jQV1MrQQKY</a>
                            </div>
                            <br>
                            <div class="clear"></div>
                            <div class="times">
                              <em>
                              <a href="https://www.twitter.com/" target="_blank" title="Follow  on Twitter [Opens new window]">
                              6 months ago                                    </a>
                              </em>
                            </div>
                            <div class="clear"></div>
                          </div>
                          <div class="clear"></div>
                        </li>
                      </ul>
                    </div>
                  </aside>
                  -->
                </div>
              </div>
            </div>
            <!--.footer-sidebar-->
          </div>
          <!--.footer-inner-->
          <div class="footer-info dark-div">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-sm-6 copyright font-1">NEWSMALL.MN © 2018</div>
                <div class="col-md-6 col-sm-6 link font-1">
                  <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu">
                      <li id="menu-item-2611" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2611"><a href="{% url 'home' %}">НҮҮР</a></li>
                      <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610"><a>ХОЛБОО БАРИХ</a>: 80907991, 88038990</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!--#wrap-->
      <!--Menu moblie-->
      <div class="canvas-ovelay"></div>
      <div id="off-canvas" class="off-canvas-default dark-div">
        <div class="off-canvas-inner">
          <div class="close-canvas-menu">
            <i class="fa fa-times"></i> Хаах
          </div>
          <nav class="off-menu">
            <ul>
              <li id="mega-menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom {% if not view_angilal %} current-menu-item {% endif %} main-menu-item list-style">
                <a href="{% url 'home' %}"><i class="fa fa-home"></i> НҮҮР</a>
              </li>
              {% for angilal in angilaluud %}
              <li id="mega-menu-item-4064" class="menu-item menu-item-type-custom menu-item-object-custom {% if view_angilal == angilal %} current-menu-item {% endif %} main-menu-item list-style">
                <a href="{{angilal.get_absolute_url}}"><i class="{{angilal.classes}}"></i> {{angilal.name}}</a>
              </li>
              {% endfor %}

            </ul>
            <ul class="search-mobile-menu">
              <li>
                <form action="" method="get">
                  <input type="text" placeholder="Хайх..." name="s" value="">
                  <i class="fa fa-search"></i>
                  <input type="submit" value="search">
                </form>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="go-to-top">
        <i class="fa fa-angle-up"></i>
      </div>
    </div>
    <!--#body-wrap-->
    <script type="text/javascript">
      function getDevicePixelRatio(){
      	if(window.screen.logicalXDPI){
      		return window.screen.logicalXDPI / 96; // IE
      	} else if(window.devicePixelRatio){
      		return window.devicePixelRatio;
      	} else return 1;
      }

      function getImageVersion() {
      	var devicePixelRatio = getDevicePixelRatio();
      	var width = window.innerWidth * devicePixelRatio;
      	if (width > 2047) {
      				return "x-high";
      	} else if (width > 991) {
      				return "high";
      	} else if (width > 767) {
      				return "medium";
      	} else {
      		return "small"; // default version
      	}
      }

      function loadAdaptiveImage(imageContainer) {

      	var imageVersion = getImageVersion();

      	if (!imageContainer || !imageContainer.children) {
      		return;
      	}
      	var img = imageContainer.children[0];

      	if (img) {
      		var imgSRC = img.getAttribute("data-src-" + imageVersion);
      		var imgWidth = img.getAttribute("data-width");
      		var imgHeight = img.getAttribute("data-height");
      		var altTxt = img.getAttribute("data-alt");
      		if (imgSRC) {
      			var imageElement = new Image();
      			imageElement.src = imgSRC;
      			imageElement.setAttribute("alt", altTxt ? altTxt : "");
      			imageElement.setAttribute("width", imgWidth);
      			imageElement.setAttribute("height", imgHeight);
      			imageContainer.appendChild(imageElement);
      			imageContainer.removeChild(imageContainer.children[0]);
      		}
      	}
      }

      lazyLoadedImages = document.getElementsByClassName("adaptive");

      for (var i = 0; i < lazyLoadedImages.length; i++) {
      	loadAdaptiveImage(lazyLoadedImages[i]);
      }
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/shortcode.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/screenfull.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/video-ads-management.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/wow.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.raty-fa.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.form.min.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var _wpcf7 = {"loaderUrl":"http:\/\/newstube.cactusthemes.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
      /* ]]> */
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.blockUI.min.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
      /* ]]> */
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/woocommerce.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.min.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
      /* ]]> */
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/cart-fragments.min.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var mashmenu = {"ajax_url":"http:\/\/newstube.cactusthemes.com\/wp-admin\/admin-ajax.php","ajax_loader":"on","ajax_enabled":"0"};
      /* ]]> */
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/mashmenu.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/idangerous.swiper.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/idangerous.swiper.progress.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/comment-reply.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/template.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/custom.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/cactus-buy-button.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/cactus-demo.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/effect.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/effect-highlight.min.js"></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var facebookSDK = {"appId":"197119067680978","lang":"en_US"};
      var __pandalockers = {"lang":[],"visibility":[],"managedInitHook":""};
      /* ]]> */
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/lockers.010107.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/wp-embed.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/js_composer_front.min.js"></script>


  </body>
</html>
