{% extends 'master.html' %}
{% load fb_versions cache %}
{%comment%}{% load pagination_tags %}{%endcomment%}

{% block news_container %}

<!-- start of breadcumb-section -->
<div class="wpo-breadcumb-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="wpo-breadcumb-wrap">
                  <h2>{{angilal}}</h2>
                  <ul>
                      <li><a href="{% url 'home' %}">Нүүр</a></li>
                      <li><span>{{angilal}}</span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end of wpo-breadcumb-section-->

{%comment%}{% autopaginate all_medee 20 %}{%endcomment%}
<!-- start wpo-blog-pg-section -->
<section class="wpo-blog-pg-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-lg-8">
              <div class="wpo-blog-content">
                {% for medee in all_medee %}
                  <div class="post format-standard-image">
                      <div class="entry-media">
                          {% if medee.zurag %}
                            <img src="{% version medee.zurag 'big' %}" alt="{{medee.title}}">
                          {% else %}
                            <img src="{{STATIC_URL}}assets/images/lifestyle/img-1.jpg" alt>
                          {% endif %}
                      </div>
                      <div class="entry-meta">
                          <ul>
                              <li><i class="fi flaticon-calendar"></i>{{medee.post_date}}</li>
                          </ul>
                      </div>
                      <div class="entry-details">
                          <h3><a href="{{medee.get_absolute_url}}">{{medee.title}}</a></h3>
                          <p>{{medee.brief}}</p>
                          <a href="{{medee.get_absolute_url}}" class="read-more">Унших...</a>
                      </div>
                  </div>
                {%endfor%}
                {%comment%}<div class="page-navigation">{% paginate %}</div>{%endcomment%}
                <div class="pagination-wrapper pagination-wrapper-left">
                  <ul class="pg-pagination">
                      <li>
                          <a href="#" aria-label="Previous">
                              <i class="fi ti-angle-left"></i>
                          </a>
                      </li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li>
                          <a href="#" aria-label="Next">
                              <i class="fi ti-angle-right"></i>
                          </a>
                      </li>
                  </ul>
              </div>
              </div>
          </div>
          <div class="col col-lg-4">
            {% include "common/next_news.html" %}
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end wpo-blog-pg-section -->

{% endblock news_container %}
