{% extends 'master.html' %}
{% load fb_versions cache %}



{% block special_news %}
{% include "news/special_news.html" %}
{% endblock special_news %}

{% block news_container %}

<!-- start wpo-blog-highlights-section -->
<section class="wpo-blog-highlights-section">
  <div class="container">
      <div class="wpo-section-title">
          <h2>Шинэ мэдээлэл</h2>
      </div>
      <div class="row">
          <div class="col col-lg-8 col-12">
              <!-- start wpo-blog-section -->
              <div class="wpo-blog-highlights-wrap">
                  <div class="wpo-blog-items">
                      <div class="row">
                          {% for medee in last_medee %}
                          <div class="col col-lg-6 col-md-6 col-12">
                              <div class="wpo-blog-item">
                                  <div class="wpo-blog-img">
                                      {% if medee.zurag %}
                                        <img src="{% version medee.zurag 'big' %}" alt="{{medee.title}}">
                                      {% else %}
                                      <img src="{{STATIC_URL}}assets/images/blog/img-1.jpg" alt="">
                                      {% endif %}
                                      <div class="thumb">{{medee.angilal}}</div>
                                  </div>
                                  <div class="wpo-blog-content">
                                      <h2><a href="{{medee.get_absolute_url}}">{{medee.title}}</a></h2>
                                      <ul>
                                          <li>{{medee.post_date}}</li>
                                      </ul>
                                      <p>{{medee.brief|truncatechars:110}} </p>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
              <!-- end wpo-blog-section -->
          </div>
          <div class="col col-lg-4 col-12">
              {% include "common/next_news.html" %}
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end wpo-blog-highlights-section -->
<!-- start wpo-blog-sponsored-section -->

<section class="wpo-blog-sponsored-section section-padding">
  <div class="container">
      <div class="wpo-section-title">
          <h2>Видео мэдээ</h2>
      </div>
      <div class="row">
          <div class="wpo-blog-sponsored-wrap">
              <div class="wpo-blog-items">
                  <div class="row">
                      {% for medee in video_medee %}
                      <div class="col col-xl-3 col-lg-6 col-md-6 col-12">
                          <div class="wpo-blog-item">
                              <div class="wpo-blog-img">
                                  {% if medee.zurag %}
                                      <img src="{% version medee.zurag 'big' %}" alt="{{medee.title}}" class="img img-responsive">
                                  {% else %}
                                      <img src="{{STATIC_URL}}assets/images/hero/img-1.jpg" alt class="img img-responsive">
                                  {% endif %}
                                  <div class="thumb">{{medee.angilal}}</div>
                              </div>
                              <div class="wpo-blog-content">
                                  <h2><a href="{{medee.get_absolute_url}}">{{medee.title}}</a>
                                  </h2>
                                  <ul>
                                      <li>{{medee.post_date}}</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end wpo-blog-sponsored-section -->
<!-- start wpo-subscribe-section -->
<section class="wpo-subscribe-section section-padding">
  <div class="container">
  <div class="img-holder" style="overflow: hidden; opacity: 0.7; border-radius: 20px;">
      {% for banner in banner_deed %}
      <a href="{{banner.open_url}}" target="_blank">
      {% if banner.zurag %}
          <img src="{{MEDIA_URL}}{{banner.zurag}}" alt="{{banner.title}}" class="img img-responsive">
      {% else %}
      <img src="{{STATIC_URL}}assets/images/page-title.jpg" alt class="img img-responsive">
      {% endif %}

      </a>
      {% endfor %}
      <img src="{{STATIC_URL}}assets/images/page-title.jpg" alt class="img img-responsive">
  </div>
  </div> <!-- end container -->
</section>
<!-- end subscribe-section -->
{% endblock news_container %}
