{% extends 'master.html' %}
{% load fb_versions cache tz %}

{% block news_container %}



<!-- start of breadcumb-section -->
<div class="wpo-breadcumb-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="wpo-breadcumb-wrap">
                  <h2>{{medee.title}}</h2>
                  <ul>
                      <li><a href="{% url 'home' %}">Нүүр</a></li>
                      <li><a href="{{medee.angilal.get_absolute_url}}">{{medee.angilal}}</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end of wpo-breadcumb-section-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/mn_MN/sdk.js#xfbml=1&version=v3.0&appId=197119067680978&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- start wpo-blog-single-section -->
<section class="wpo-blog-single-section section-padding">
  <div class="container">
      <div class="row">
          <div class="col col-lg-8 col-12">
              <div class="wpo-blog-content">
                  <div class="post format-standard-image">
                      <div class="entry-media">
                        {% if medee.zurag %}
                          <img alt="featured" src="{% version medee.zurag 'large' %}" alt="{{medee.title}}">
                        {% else %}
                          <img alt="news-image" src="{{STATIC_URL}}image/default.jpg" alt="{{medee.title}}">
                        {% endif %}
                      </div>
                      <div class="entry-meta">
                          <ul>
                              <li><i class="fi flaticon-calendar"></i>{{medee.post_date}}</li>
                          </ul>
                      </div>
                      <h2>{{medee.title}}</h2>
                      <p>{{medee.content|safe}}</p>

                      <!-- <div class="gallery">
                          <div>
                              <img src="{{STATIC_URL}}assets/images/blog/img-3.jpg" alt="">
                          </div>
                          <div>
                              <img src="{{STATIC_URL}}assets/images/blog/img-2.jpg" alt="">
                          </div>
                      </div> -->
                      
                  </div>
                  {% if medee.video_code %}{{medee.video_code|safe}}{% endif %}
                  <div class="tag-share clearfix">
                      <div class="tag">
                          <span>Таг: </span>
                          <ul>
                          {% if medee.tags.all %}
                            {% for tag in medee.tags.all %}
                            <li><a href="{{tag.get_absolute_url}}" rel="tag">{{tag.name}}</a></li>
                            {% endfor %}
                          {% endif %}
                        </ul>
                      </div>
                  </div> <!-- end tag-share -->
                  <div class="tag-share-s2 clearfix">
                      <div class="tag">
                          <span>Share: </span>
                          <ul>
                              <li><a href="https://www.facebook.com/Newsmallmn-324180988086657/" target="_blank" rel="nofollow" onclick="window.open(&#39;http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}} &#39;,&#39;facebook-share-dialog&#39;,&#39;width=626,height=436&#39;);return false;">facebook</a></li>
                              <li><a href="https://twitter.com/NewsMallmn" target="_blank" onclick="window.open(&#39;http://twitter.com/share?text={{medee.title}}&amp;url={{request.build_absolute_uri}}&#39;,&#39;twitter-share-dialog&#39;,&#39;width=626,height=436&#39;);return false;">twitter</a></li>
                          </ul>
                      </div>
                  </div> <!-- end tag-share -->

                  <div class="author-box">
                      <div class="author-avatar">
                          <a href="#" target="_blank"><img src="assets/images/blog-details/author.jpg"
                                  alt></a>
                      </div>
                      <div class="author-content">
                          <div class="socials">
                              <ul class="social-link">
                                  <li><a href="https://www.facebook.com/Newsmallmn-324180988086657/"><i class="ti-facebook"></i></a></li>
                                  <li><a href="https://twitter.com/NewsMallmn"><i class="ti-twitter-alt"></i></a></li>
                                  <li><a href="#"><i class="ti-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div> <!-- end author-box -->

                  <!-- <div class="more-posts">
                      <div class="previous-post">
                          <a href="#">
                              <span class="post-control-link">Previous Post</span>
                              <span class="post-name">At vero eos et accusamus et iusto odio dignissimos
                                  ducimus qui blanditiis praesentium.</span>
                          </a>
                      </div>
                      <div class="next-post">
                          <a href="0">
                              <span class="post-control-link">Next Post</span>
                              <span class="post-name">Dignissimos ducimus qui blanditiis praesentiu deleniti
                                  atque corrupti quos dolores</span>
                          </a>
                      </div>
                  </div> -->

              </div>
          </div>
          <div class="col col-lg-4 col-12">
            {% include "common/next_news.html" %}
          </div>
      </div>
  </div> <!-- end container -->
</section>
<!-- end wpo-blog-single-section -->
{% endblock news_container %}
