{% load fb_versions %}

<div class="wpo-blog-hero-area">
  <div class="container">
      <div class="sortable-gallery">
          <div class="gallery-filters"></div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="wpo-blog-grids gallery-container clearfix">
                    {% for medee in odtoi_medee %}
                    {% if forloop.counter == 1 %}
                      <div class="grid">
                          <div class="img-holder">
                              
                              {% if medee.zurag %}
                                <img src="{% version medee.zurag 'extra_large' %}" alt="{{medee.title}}" class="img img-responsive">
                              {% else %}
                                <img src="{{STATIC_URL}}assets/images/hero/img-1.jpg" alt class="img img-responsive">
                              {% endif %}
                              <div class="wpo-blog-content">
                                  <div class="thumb">{{medee.angilal}}</div>
                                  <h2 style="font-size: 24px;"><a href="{{medee.get_absolute_url}}">{{medee.title}}</a></h2>
                                  <ul>
                                      <!-- <li><img src="{{STATIC_URL}}assets/images/blog/blog-avater/img-1.jpg " alt=""></li> -->
                                      <li>Огноо</a></li>
                                      <li>{{medee.post_date}}</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      {% elif forloop.counter == 2 %}
                      <div class="grid">
                          <div class="img-holder">
                              {% if medee.zurag %}
                                <img src="{% version medee.zurag 'extra_large1' %}" alt="{{medee.title}}" class="img img-responsive">
                              {% else %}
                                <img src="{{STATIC_URL}}assets/images/hero/img-1.jpg" alt class="img img-responsive">
                              {% endif %}
                              <div class="wpo-blog-content">
                                  <div class="thumb">{{medee.angilal}}</div>
                                  <h2 style="font-size: 20px;"><a href="{{medee.get_absolute_url}}">{{medee.title}}</a></h2>
                                  <ul>
                                      <li>Огноо</li>
                                      <li>{{medee.post_date}}</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="grid s2">
                      {% else %}
                          <div class="img-holder">
                              {% if medee.zurag %}
                                <img src="{% version medee.zurag 'extra_large2' %}" alt="{{medee.title}}" class="img img-responsive">
                              {% else %}
                                <img src="{{STATIC_URL}}assets/images/hero/img-1.jpg" alt class="img img-responsive">
                              {% endif %}
                              <div class="wpo-blog-content">
                                  <div class="thumb">{{medee.angilal}}</div>
                                  <h2 style="font-size: 16px;"><a href="blog-single.html">{{medee.title}}</a></h2>
                                  <ul>
                                      <li>{{medee.post_date}}</li>
                                  </ul>
                              </div>
                          </div>
                      {% endif %}
                      {% if forloop.counter == 4 %}
                      </div>
                      {% endif %}
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="wpo-breacking-news section-padding">
  <div class="container">
      <div class="row">
          <div class="b-title"><span>Шуурхай мэдээ</span></div>
          <div class="wpo-breacking-wrap owl-carousel">
            {% for medee in ontsloh %}
              <div class="wpo-breacking-item s1">
                  <div class="wpo-breacking-img">
                    {% if medee.zurag %}
                      <img src="{% version medee.zurag 'extra_large2' %}" alt="{{medee.title}}">
                    {% else %}
                    <img src="{{STATIC_URL}}assets/images/breaking-news/img-1.jpg" alt="">
                    {% endif %}
                  </div>
                  <div class="wpo-breacking-text">
                      <span>{{medee.post_date}}</span>
                      <h3><a href="blog-single.html">{{medee.title}}</a>
                      </h3>
                  </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>
</div>