<!--
Business news and life style
-->
<div class="vc_row wpb_row vc_row-fluid vc_custom_1436519530047">
  <div class="cactus-scb-lifestyle wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="cactus-scb  one-page-no-filter      hidden-dislike   hidden-view " data-total-records="4" data-item-in-page="4" data-style="1" data-ajax-server="http://newstube.cactusthemes.com/wp-admin/admin-ajax.php" data-json-server="http://newstube.cactusthemes.com/wp-admin/admin-ajax.php" data-lang-err="Err" data-bg-color="#a9c056" data-title-color="#ffffff" data-shortcode="4,latest,ASC,category-v1,,,,1,1,4,1,,1,1,0,1,1,1,1,0,0" data-ids="">
          <h2 class="cactus-scb-title ">LIFESTYLE</h2>
          
          <a class="pre-carousel" href="javascript:;" style="display: none"><i class="fa fa-angle-left"></i></a>
          <a class="next-carousel" href="javascript:;" style="display: none"><i class="fa fa-angle-right"></i></a>
          <div class="hidden-pre-carousel"></div>
          <div class="hidden-next-carousel"></div>
          <div class="change-page" data-enable-cat-filter="yes">
            <!--remove page-->
            <ul class="category" style="display:none">
              <li class="current-category">
                <a href="javascript:;" data-category-id="category-v1" class="current-data"></a> <i class="fa fa-angle-down"></i>
                <!--Change / remove enable_cat_filter="no"-->
                <ul class="ajax-submenu">
                </ul>
                <!--Change-->
              </li>
            </ul>
            <!--remove page-->
          </div>
          <div class="cactus-swiper-container" data-settings="[&quot;mode&quot;:&quot;cactus-fix-composer&quot;]">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!--Slide item-->
                <div class="append-slide-auto" data-page="1">
                  <!--Listing-->
                  <div class="cactus-listing-wrap">
                    <!--Config-->        
                    <div class="cactus-listing-config style-1">
                      <!--addClass: style-1 + (style-a -> style-f)-->
                      <div class="cactus-listing-content">
                        <div class="cactus-sub-wrap">
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/fewer-auctions-but-still-strong-sales/" title="FEWER AUCTIONS BUT STILL STRONG HOME SALE AMOUNT">
                                      <div class="adaptive">
                                        <img src="image/lifestyle-002-390x235.jpg" alt="lifestyle-002" width="390" height="235">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v1/" title="View all posts in Lifestyle">Lifestyle</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/fewer-auctions-but-still-strong-sales/" title="">FEWER AUCTIONS BUT STILL STRONG HOME SALE AMOUNT</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-06T10:41:04+00:00" class="entry-date updated">Jun 6, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/fewer-auctions-but-still-strong-sales/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">90</div>
                                  </div>
                                  <div class="excerpt">
                                    <p>And there is who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids.</p>
                                  </div>
                                  <div class="cactus-readmore">
                                    <a href="http://newstube.cactusthemes.com/fewer-auctions-but-still-strong-sales/">read more</a>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/scientist-going-to-club-is-good-for-health/" title="SCIENTIST: GOING TO CLUB IS GOOD FOR YOUR SOCIAL LIFE">
                                      <div class="adaptive">
                                        <img src="image/lifestyle-006-94x72.jpg" alt="lifestyle-006" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v1/" title="View all posts in Lifestyle">Lifestyle</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/scientist-going-to-club-is-good-for-health/" title="">SCIENTIST: GOING TO CLUB IS GOOD FOR YOUR SOCIAL LIFE</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-07T10:59:07+00:00" class="entry-date updated">Jun 7, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/scientist-going-to-club-is-good-for-health/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">58</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/the-one-thing-that-makes-a-match-work/" title="THE ONE THING THAT MAKE A MATCH WORK">
                                      <div class="adaptive">
                                        <img src="image/picjumbo.com_HNCK4154-94x72.jpg" alt="picjumbo.com_HNCK4154" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v1/" title="View all posts in Lifestyle">Lifestyle</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/the-one-thing-that-makes-a-match-work/" title="">THE ONE THING THAT MAKE A MATCH WORK</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T10:44:10+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/the-one-thing-that-makes-a-match-work/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">9</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/he-works-hard-fot-the-honey/" title="HE WORKS HARD FOR THE HONEY">
                                      <div class="adaptive">
                                        <img src="image/lifestyle-001-94x72.jpg" alt="lifestyle-001" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v1/" title="View all posts in Lifestyle">Lifestyle</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/he-works-hard-fot-the-honey/" title="">HE WORKS HARD FOR THE HONEY</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T10:48:59+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/he-works-hard-fot-the-honey/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">14</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cactus-scb-business wpb_column vc_column_container vc_col-sm-6">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="cactus-scb  one-page-no-filter      hidden-dislike   hidden-view " data-total-records="4" data-item-in-page="4" data-style="1" data-ajax-server="http://newstube.cactusthemes.com/wp-admin/admin-ajax.php" data-json-server="http://newstube.cactusthemes.com/wp-admin/admin-ajax.php" data-lang-err="Err" data-bg-color="#27aac5" data-title-color="#ffffff" data-shortcode="4,latest,ASC,category-v2,,,,1,1,4,1,,1,1,0,1,1,1,1,0,0" data-ids="">
          <h2 class="cactus-scb-title ">BUSINESS</h2>
          
          <a class="pre-carousel" href="javascript:;" style="display: none"><i class="fa fa-angle-left"></i></a>
          <a class="next-carousel" href="javascript:;" style="display: none"><i class="fa fa-angle-right"></i></a>
          <div class="hidden-pre-carousel"></div>
          <div class="hidden-next-carousel"></div>
          <div class="change-page" data-enable-cat-filter="yes">
            <!--remove page-->
            <ul class="category" style="display:none">
              <li class="current-category">
                <a href="javascript:;" data-category-id="category-v2" class="current-data"></a> <i class="fa fa-angle-down"></i>
                <!--Change / remove enable_cat_filter="no"-->
                <ul class="ajax-submenu">
                </ul>
                <!--Change-->
              </li>
            </ul>
            <!--remove page-->
          </div>
          <div class="cactus-swiper-container" data-settings="[&quot;mode&quot;:&quot;cactus-fix-composer&quot;]">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!--Slide item-->
                <div class="append-slide-auto" data-page="1">
                  <!--Listing-->
                  <div class="cactus-listing-wrap">
                    <!--Config-->        
                    <div class="cactus-listing-config style-1">
                      <!--addClass: style-1 + (style-a -> style-f)-->
                      <div class="cactus-listing-content">
                        <div class="cactus-sub-wrap">
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/finance-news-you-need-to-know-today/" title="FINANCE NEWS YOU NEED TO KNOW TODAY">
                                      <div class="adaptive">
                                        <img src="image/011-business-plan-390x235.jpg" alt="011-business-plan" width="390" height="235">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v2/" title="View all posts in Business">Business</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/finance-news-you-need-to-know-today/" title="">FINANCE NEWS YOU NEED TO KNOW TODAY</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T09:10:06+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/finance-news-you-need-to-know-today/#comments" class="comment cactus-info">1</a>                                                                                                                                                
                                    <div class="like cactus-info">69</div>
                                  </div>
                                  <div class="excerpt">
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which.</p>
                                  </div>
                                  <div class="cactus-readmore">
                                    <a href="http://newstube.cactusthemes.com/finance-news-you-need-to-know-today/">read more</a>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/shares-to-open-lower-as-data-flow-eases/" title="SHARES TO OPEN LOWER AS DATA FLOW EASES">
                                      <div class="adaptive">
                                        <img src="image/business-003-94x72.jpg" alt="business-003" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v2/" title="View all posts in Business">Business</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/shares-to-open-lower-as-data-flow-eases/" title="">SHARES TO OPEN LOWER AS DATA FLOW EASES</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T09:18:33+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/shares-to-open-lower-as-data-flow-eases/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">30</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/hang-in-there-stand-by-for-good-times/" title="HANG IN THERE STAND BY FOR GOOD TIMES">
                                      <div class="adaptive">
                                        <img src="image/business-0071-94x72.jpg" alt="business-007" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v2/" title="View all posts in Business">Business</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/hang-in-there-stand-by-for-good-times/" title="">HANG IN THERE STAND BY FOR GOOD TIMES</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T09:34:28+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/hang-in-there-stand-by-for-good-times/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">13</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                          <div class="cactus-post-item hentry ">
                            <!--content-->
                            <div class="entry-content">
                              <div class="primary-post-content">
                                <!--addClass: related-post, no-picture -->
                                <!--picture-->
                                <div class="picture">
                                  <div class="picture-content">
                                    <a href="http://newstube.cactusthemes.com/now-is-the-time-to-change-work/" title="NOW IS THE TIME TO CHANGE WORK">
                                      <div class="adaptive">
                                        <img src="image/business-005-94x72.jpg" alt="business-005" width="94" height="72">
                                      </div>
                                      <div class="thumb-overlay"></div>
                                    </a>
                                    <div class="cactus-note-cat" style="background-color: #2cb7e4"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/category-v2/" title="View all posts in Business">Business</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="content">
                                  <h3 class="h4 cactus-post-title entry-title"><a href="http://newstube.cactusthemes.com/now-is-the-time-to-change-work/" title="">NOW IS THE TIME TO CHANGE WORK</a></h3>
                                  <div class="posted-on">
                                    <div class="cactus-info" rel="bookmark"><time datetime="2015-06-08T09:41:36+00:00" class="entry-date updated">Jun 8, 2015</time></div>
                                    <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                                    <a href="http://newstube.cactusthemes.com/now-is-the-time-to-change-work/#respond" class="comment cactus-info">0</a>                                                                                                                                                
                                    <div class="like cactus-info">8</div>
                                  </div>
                                  <div class="cactus-last-child"></div>
                                </div>
                              </div>
                            </div>
                            <!--content-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
end Business news and life style
-->





<style type="text/css" scoped="">#divider-7056 {border-color:#e7e7e7;}</style>
<div class="vc_row wpb_row vc_row-fluid vc_custom_1436498715858">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="cactus-divider style-3" id="divider-7056">
          <h6><i class="fa fa-globe"></i> LATEST NEWS</h6>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
  
-->

<div class="cactus-sub-wrap is-blog-listing">
  <article id="post-5054" class="cactus-post-item hentry post-5054 post type-post status-publish format-video has-post-thumbnail category-movies tag-film tag-movies tag-trailer post_format-post-format-video">
    <!--content-->
    <div class="entry-content">
      <div class="primary-post-content  ">
        <!--addClass: related-post, no-picture -->
        <!--picture-->
        <div class="picture">
          <div class="picture-content">
            <a href="http://newstube.cactusthemes.com/london-has-fallen/" title="MOST VISITED COUNTRIES">
              <img width="390" height="260" src="image/visit-country-390x260.jpg" class="attachment-thumb_390x260 size-thumb_390x260" alt="visit-country" srcset="http://newstube.cactusthemes.com/wp-content/uploads/2015/06/visit-country-300x200.jpg 300w, http://newstube.cactusthemes.com/wp-content/uploads/2015/06/visit-country-1024x683.jpg 1024w, http://newstube.cactusthemes.com/wp-content/uploads/2015/06/visit-country-566x377.jpg 566w, http://newstube.cactusthemes.com/wp-content/uploads/2015/06/visit-country-390x260.jpg 390w" sizes="(max-width: 390px) 100vw, 390px">                        
              <div class="thumb-overlay"></div>
              <i class="fa fa-play-circle-o cactus-icon-fix"></i>
            </a>
            <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
            </div>
          </div>
        </div>
        <!--picture-->
        <div class="content">
          <div class="cactus-note-cat"><a style="color: #eee" href="http://newstube.cactusthemes.com/category/movies/" title="View all posts in MOVIES">MOVIES</a>
          </div>
          <h3 class="h4 cactus-post-title entry-title">
            <a href="http://newstube.cactusthemes.com/london-has-fallen/" title="MOST VISITED COUNTRIES" rel="bookmark">MOST VISITED COUNTRIES</a>
          </h3>
          <div class="posted-on">
            <div class="cactus-info" rel="bookmark"><time datetime="2015-07-03T08:08:44+00:00" class="entry-date updated">Jul 3, 2015</time></div>
            <span class="vcard author"> 
            <span class="fn"><a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a></span>
            </span>
            <div class="comment cactus-info">0</div>
            <div class="like cactus-info">160</div>
            <div class="dislike cactus-info">15</div>
            <div class="view cactus-info">1.20K</div>
          </div>
          <!--excerpt-->
          <div class="excerpt">
            Stevenson and Wolfers also find, a clear role for absolute income and a more limited role for relative income comparisons in determining happiness.                    
          </div>
          <!--excerpt-->
          <!--read more-->
          <div class="cactus-readmore">
            <a href="http://newstube.cactusthemes.com/london-has-fallen/">Read more</a>
          </div>
          <!--read more-->
          <div class="cactus-last-child"></div>
          <!--fix pixel no remove-->
        </div>
      </div>
      <!-- begin related post -->
      <!-- open tag for related post layout 2 -->
      <div class="related-post">
        <!--item listing-->
        <div class="cactus-post-item hentry">
          <!--content-->
          <div class="entry-content">
            <div class="primary-post-content ">
              <!--addClass: related-post, no-picture -->
              <!--picture-->
              <div class="picture">
                <div class="picture-content">
                  <a href="http://newstube.cactusthemes.com/fantastic-four-2015/" title="WONDERFUL EARTH NATURE FILM">
                    <div class="adaptive">
                      <img src="image/earth-nature-103x68.jpg" alt="earth-nature" width="103" height="68">
                    </div>
                    <div class="thumb-overlay"></div>
                  </a>
                </div>
              </div>
              <!--picture-->
              <div class="content">
                <!--Title-->
                <h4 class="h6 cactus-post-title entry-title">
                  <a href="http://newstube.cactusthemes.com/fantastic-four-2015/" title="WONDERFUL EARTH NATURE FILM" rel="bookmark">WONDERFUL EARTH NATURE FILM</a>
                </h4>
                <!--Title-->
                <!--info-->
                <div class="posted-on">
                  <div class="cactus-info" rel="bookmark"><time datetime="2015-06-03T08:34:15+00:00" class="entry-date updated">Jun 3, 2015</time></div>
                  <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                  <a href="http://newstube.cactusthemes.com/london-has-fallen/#respond" class="comment cactus-info">0</a>                                                                                                                                                                            
                  <div class="like cactus-info">2</div>
                  <div class="dislike cactus-info">0</div>
                  <div class="view cactus-info">207</div>
                </div>
                <!--info-->
                <div class="cactus-last-child"></div>
                <!--fix pixel no remove-->
              </div>
            </div>
          </div>
          <!--content-->
        </div>
        <!--item listing-->
        <!--item listing-->
        <div class="cactus-post-item hentry">
          <!--content-->
          <div class="entry-content">
            <div class="primary-post-content ">
              <!--addClass: related-post, no-picture -->
              <!--picture-->
              <div class="picture">
                <div class="picture-content">
                  <a href="http://newstube.cactusthemes.com/the-secret-life-of-pets/" title="NATURE AND WILDLIFE OF CUBA">
                    <div class="adaptive">
                      <img src="image/wildlife-nature-103x68.jpg" alt="wildlife-nature" width="103" height="68">
                    </div>
                    <div class="thumb-overlay"></div>
                  </a>
                </div>
              </div>
              <!--picture-->
              <div class="content">
                <!--Title-->
                <h4 class="h6 cactus-post-title entry-title">
                  <a href="http://newstube.cactusthemes.com/the-secret-life-of-pets/" title="NATURE AND WILDLIFE OF CUBA" rel="bookmark">NATURE AND WILDLIFE OF CUBA</a>
                </h4>
                <!--Title-->
                <!--info-->
                <div class="posted-on">
                  <div class="cactus-info" rel="bookmark"><time datetime="2015-06-03T08:35:11+00:00" class="entry-date updated">Jun 3, 2015</time></div>
                  <a href="http://newstube.cactusthemes.com/author/newstube/" class="author cactus-info">CACTUS THEMES</a>
                  <a href="http://newstube.cactusthemes.com/london-has-fallen/#respond" class="comment cactus-info">0</a>                                                                                                                                                                            
                  <div class="like cactus-info">2</div>
                  <div class="dislike cactus-info">0</div>
                  <div class="view cactus-info">224</div>
                </div>
                <!--info-->
                <div class="cactus-last-child"></div>
                <!--fix pixel no remove-->
              </div>
            </div>
          </div>
          <!--content-->
        </div>
        <!--item listing-->
        <!-- end tag for related post layout 2 -->
      </div>
      <!-- end related post -->
    </div>
    <!--content-->
  </article>
</div>

<script type="text/javascript">
  var cactus = {"ajaxurl":"http://newstube.cactusthemes.com/wp-admin/admin-ajax.php","query_vars":{"post_type":"post","order":"desc","paged":1,"post_status":"publish","ignore_sticky_posts":"1","orderby":"date","posts_per_page":6,},"current_url":"http://newstube.cactusthemes.com" }
</script>

<!--
  fsadfasjkdfhlkjh
-->

<input type="hidden" name="hidden_blog_layout" value="layout_2">
<div class="page-navigation">
  <nav class="navigation paging-navigation" role="navigation">
    <h1 class="screen-reader-text">Posts navigation</h1>
    <div class="nav-links">
      <div class="nav-previous"><a href="http://newstube.cactusthemes.com/page/2/"><span class="meta-nav">←</span> Older posts</a></div>
    </div>
    <!-- .nav-links -->
  </nav>
  <!-- .navigation -->
</div>




<!--
  zuun taliin baganand baisan category
-->

<aside id="categories-2" class=" widget col-md-12 module widget-col widget_categories">
  <div class="widget-inner">
    <h2 class="widget-title h6">CATEGORIES</h2>
    <ul>
      <li class="cat-item cat-item-38"><a href="http://newstube.cactusthemes.com/category/category-v2/" title="Posts in this category test post formats.">Business</a></li>
      <li class="cat-item cat-item-240"><a href="http://newstube.cactusthemes.com/category/celebrity/" title="Celebrity and showbiz breaking news">Celebrity</a></li>
      <li class="cat-item cat-item-242"><a href="http://newstube.cactusthemes.com/category/destination/" title="All the destination around the world that you must visit.">Destination</a></li>
    </ul>
  </div>
</aside>