{% extends 'master.html' %}
{% load fb_versions cache %}
{% load pagination_tags %}

{% block main_container %}
<!-- categories list -->
<div class="main-content-col col-md-12 cactus-listing-content ">
  <!--breadcrumb-->
  <div class="cactus-breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <a href="/" rel="v:url" property="v:title">Нүүр</a>
    <i class="fa fa-angle-right"></i>
    <span class="current">Видео мэдээ</span>
  </div>
  <!-- .breadcrumbs -->                                <!--breadcrumb-->
  <div class="cactus-listing-heading cactus-tab cactus-tabs-992">
    <div class="cactus-tab-heading">
      <div class="cactus-tab-title"><span>Видео мэдээ</span></div>
    </div>
  </div>
  {% autopaginate video_medee 20 %}
  <div class="cactus-sub-wrap">
    {% for medee in video_medee %}
    <article id="post-3824" class="cactus-post-item hentry post-3824 post type-post status-publish format-standard has-post-thumbnail category-category-v1 tag-business tag-lifestyle tag-wordpress tag-xslider-3">
      <h3 class="h4 cactus-post-title entry-title">
        <a href="{{medee.get_absolute_url}}" title="{{medee.title}}" rel="bookmark">{{medee.title}}</a>
      </h3>
      <div class="posted-on">
        <div class="cactus-info" rel="bookmark"><time datetime="{{medee.post_date}}" class="entry-date updated">{{medee.post_date}}</time></div>
        <span class="vcard author">
        <span class="fn"><a href="" class="author cactus-info">{{medee.created_user}}</a></span>
        </span>
        <!-- <div class="comment cactus-info">{{medee.comment_count}}</div>
        <div class="view cactus-info">{{medee.read_count}}</div> -->
      </div>
      <!--content-->
      <div class="entry-content">
        <div class="primary-post-content related-post ">
          <!--addClass: related-post, no-picture -->
          <!--picture-->
          <div class="picture">
            <div class="picture-content">
              <a href="{{medee.get_absolute_url}}" title="{{medee.title}}">
                {% if medee.zurag %}
                  <img src="{% version medee.zurag 'small' %}" alt="{{medee.title}}" width="288" height="190" class="attachment-thumb_288x190 size-thumb_288x190" srcset="{% version medee.zurag 'small' %} 279w, {% version medee.zurag 'small' %} 250w, {% version medee.zurag 'small' %} 288w, {% version medee.zurag 'small' %} 103w" sizes="(max-width: 288px) 100vw, 288px">
                {% else %}
                  <img alt="news-image" src="{{STATIC_URL}}image/default.jpg">
                {% endif %}
                <div class="thumb-overlay"></div>
              </a>
              <div class="cactus-note-cat" style="background-color: #FFD540"><a style="color: #111" href="{{medee.angilal.get_absolute_url}}" title="{{medee.angilal}}">{{medee.angilal}}</a>
              </div>
            </div>
          </div>
          <!--picture-->
          <div class="content">
            <!--excerpt-->
            <div class="excerpt">
              {{medee.brief}}
            </div>
            <!--excerpt-->
            <!--read more-->
            <div class="cactus-readmore">
              <a href="{{medee.get_absolute_url}}">Үргэлжлэл ...</a>
            </div>
            <!--read more-->
            <div class="cactus-last-child"></div>
            <!--fix pixel no remove-->
          </div>
        </div>
      </div>
      <!--content-->
    </article>
    {% endfor %}
  </div>
  <input type="hidden" name="hidden_blog_layout" value="layout_1">
  <div class="page-navigation">{% paginate %}</div>
</div>

{% endblock main_container %}
